<div class="layout">
  <div class="menubar">
    <div class="content-menu-bar">
      <app-menubar [navigatePageInput]="navigatePage" (componentName)="getNameComponent($event)"></app-menubar>
    </div>
  </div>
  <div class="routerComponent">
      <div class="navbar-header">
        <div class="navarbar-content">
          <div class="name">{{nameComponent}}</div>
          <div class="search">
            <input type="search" placeholder="search" [(ngModel)]="keySearch"
            (keyup)="searchHandle($event)"
            (search)="searchHandle($event)"
            >
            <div class="icon-search">
              <img src="../../assets/search.png" alt="">
            </div>
          </div>
          <!-- <div class="role-name">
            <div class="detail-role-name" (click)="logout()">
              <p>LOGOUT</p>
            </div>
          </div> -->
        </div>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>