<perfect-scrollbar class="scroll-container" fxFlex="auto" style="max-height: calc(90vh - 15px);">
  <div *ngIf="userArray" class="user-profit-layout">
    <div class="col-md-3" *ngFor="let item of userArray">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img [src]="item.image" alt="...">
              </label>
            </a>
          </div>
        </div>
        <div class="name">
          <p>{{item.fullname}}</p>
        </div>
        <div class="action">
          <button type="button" (click)="makeFriend(item._id)" class="btn btn-success">Kết bạn</button>
          <button type="button" class="btn btn-danger">Hủy Kết bạn</button>
        </div>
      </div>
    </div>
    <div class="clear">

    </div>
  </div>
</perfect-scrollbar>