<div class="user-profit-layout">
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" /> 
              <!-- (change)="changeProfit($event)" -->
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo"/>
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo"/>
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo"/>
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="information-image">
        <div class="row1">
          <div class="col-md-5">
            <a class="thumbnail">
              <label for="upload-photo">
                <img src="../../assets/khanh.jpg" alt="...">
              </label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
          </div>
        </div>
        <div class="name">
          <p>Pham Huynh Khanh</p>
        </div>
        <div class="username">
          <p>phamhuynhkhanh@gmail.com</p>
        </div>
        <div class="slogan">
          <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
        </div>
      </div>
    </div>
    <div class="clear">

    </div>

</div>