<div class="search-component">
  <div class="logo">
    <label for="upload-photo">
      <img *ngIf="!profit" src="../assets/user.png" alt="" class="img">
      <img *ngIf="profit" [src]="profit" alt="" class="img">
    </label>
    <input type="file" name="photo" id="upload-photo"  (change)="onFileChange($event)"/>
  </div>
  <div class="search">
    <input type="search"
      class="input-search"
      placeholder="Search..."
    >
    <img src="../assets/search.png" alt="" class="logo-search">
  </div>
  <div class="setting">
    <img src="../assets/settings.png" alt="" class="setting-icon" (click)="setting()">
    <div class="infomation" *ngIf="role === true">
      <div (click)="updatePerson()" class="role">
        <p>Change Password</p>
      </div>
      <div class="role" (click)="logout()">
        <p>Log Out</p>
      </div>
    </div>
  </div>
</div>
<div class="role"  [ngClass]="{borderBot: border}" *ngIf="roleClass === true">
  <div class="message" (click)="changeRole(1)" [ngClass]="{change: changeClass === 1}">
    <p>Tin Nhắn</p>
  </div>
  <div class="activity" (click)="changeRole(2)" [ngClass]="{change: changeClass === 2}">
    <p>Hoạt Động (1)</p>
  </div>
  <div class="notication" (click)="changeRole(3)" [ngClass]="{change: changeClass === 3}">
    <p>Kết Bạn</p>
  </div>
</div>